{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuildIns": "usage",
        "corejs": 3,
        "targets": ["last 1 version, > 1%, not dead"]
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}
